.nav-content {
  overflow: hidden;
  transition: height 0.25s ease;
  height: 0;
}

.left-sidemenu {
 /*width: 250px;*/
  height: 100vh; /* full screen height */
  /*background-color: #1e1e1e;*/
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  overflow-y: auto; /* enables vertical scrolling */
  scrollbar-width: thin; /* Firefox */
  margin-bottom: 200px;
}

.sidemenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
