@import url("assets/css/google_font.css");
@import url("assets/css/simple-line-icons.min.css");
@import url("assets/css/font-awesome.min.css");
@import url("assets/css/all.css");
@import url("assets/css/material-icon.css");
@import url("assets/css/bootstrap.min.css");
@import url("assets/css/material.min.css");
@import url("assets/css/material_style.css");
@import url("assets/css/theme_style.css");
@import url("assets/css/plugins.min.css");
@import url("assets/css/style.css");
@import url("assets/css/responsive.css");
@import url("assets/css/theme-color.css");
/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/